.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body{
  background:#E8DDAF;
}

h3 {
font-size: 2.5em;
}

p {
  margin: 0;
}

.dashboard-nav ul li {
  font-family: 'UnifrakturCook', cursive;
  font-size: 2em;
  line-height: .8em;
  letter-spacing: 0.07em;
  margin-bottom:-10px;
  cursor: pointer;
  text-align: right;
}

.dashboard h1 {
  font-family: 'UnifrakturCook', cursive;
  font-size:52px;
  text-align: right;
  margin-right:15px;
  margin-bottom:20px;
}

.dashboard {
  display:flex;
  height: calc(100% - 30px);
  margin-bottom: 44px;
}

.dashboard-nav {
  background-color: #9CA7D5;
  color:#12183B;
  width: 260px;
  min-width: 260px;
}

.dashboard-contents {
  overflow: auto;
  flex-grow: 1;
  display: inline-block;
}

.dashboard-contents .UserCards {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.dashboard-contents .card-collection {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li {
  padding:15px;
  font-family:baskerville;
  letter-spacing: 0.05em;
  font-size:20px;
}

main {
  flex-grow: 1;
  height: calc(100vh - 208px);
}

.home, .register {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'UnifrakturCook', cursive;
  line-height: .3em;
  font-size: 28px;
  color: #12183B;
  background-image: url('/images/background.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

.home ul {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.login input{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.home ul li {
  display: flex;
}

.home li a{
  color: #12183B;
  margin-left:5px;
}

.register input{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

input[type='text'], input[type='password'], input[type='email'] {
  width:350px;
  padding:10px;
  margin-bottom:20px;
  font-size:16px;
  font-family: 'Oxygen', sans-serif;
}

button[type='submit'] {
  border: 1.5px solid #12183B;
  padding:8px 25px;
  font-family: 'Oxygen', sans-serif;
  font-size:16px;
  background:#12183B;
  color:#FBF6E0;
}

button[type='submit']:hover{
   background: #485095;
  border: 1.5px solid #485095;
  color:#FBF6E0;
  cursor: pointer;
}

button[type='button'] {
  border: 1.5px solid #dedede;
  padding:8px 25px;
  font-family: 'Oxygen', sans-serif;
  font-size:16px;
  background:white;
}

button[type='button']:hover{
background: #bdbdbd;
 border: 1.5px solid #bdbdbd;
 color:#303E63;
 cursor: pointer;
}

footer {
  background:#12183B;
  display:flex;
  flex-direction: column;
  color:#FAF5E0;
  text-align: center;
  padding:10px;
  font-family: 'UnifrakturCook', cursive;
  font-size:18px;
  letter-spacing: 0.2em;
  position: fixed;
  bottom:0;
  width: 100vw;
}

.header {
  background:#12183B;
  padding: 10px;
  display: flex;
  font-family: 'UnifrakturCook', cursive;
  justify-content: space-between;
  align-items: center;
  font-size: 3em;
  color:#FAF5E0;
  letter-spacing: 0.1em;
}

header li, a{
  font-family: 'UnifrakturCook', cursive;
  font-size:24px;
  display: -webkit-inline-flex;
  letter-spacing: 0.07em;
  color:#FAF5E0;
  text-decoration: none;
  cursor: pointer;
}


.card {
  width:150px;
  height: 200px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  float:left; 
  padding:5px;
}

.card-top {
  display: flex;
  justify-content: center;
  padding: 5px 12px
}

.card-wrapper .delete-button,
.card-wrapper .edit-button {
  /* padding: 5px 12px; */
  opacity: 0;
  transition: .2s all;
}

.UserCards .card-wrapper:hover .delete-button,
.UserCards .card-wrapper:hover .edit-button {
  opacity: 1;
}

.UserCards .card-name input {
  width: 40px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid black;  
  height: 10px;
  color: inherit;
  font-size: inherit;
  padding: 0;
  text-align: center;
  font-style: italic;
  margin: 0;
}

.UserCards .card-name input:focus {
  outline: none;
}

.UserCards .card-wrapper:hover{
  background:rgba(0,0,0,0.9);
  opacity:0.8;
}

.card-wrapper{
  position:relative;
}


.card-wrapper .delete-button,
.card-wrapper .edit-button{
  position:absolute;
  top:45%;
}

.card-wrapper .edit-button{
  top:30%;
  left:40%;
  padding:4px;
  color:#E8DDAF;
  background:black;
}

.card-wrapper .delete-button{
  top:50%;
  left:40%;
  color:#E8DDAF;
  padding:5px;
  background:black;
}

.card-name{
  /* line-height: 0.08em; */
}

.card-name p {
  font-size:13px;
}

.card-name p:nth-child(2) {
  color: cornsilk;
  margin-top: 3px;
}

.card-numbers {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.card-numbers p {
  width:50px;
  font-size: 14px;
  margin: 0px;
}

.card.Pawn{
  background-image: url('/images/pawn_card.png');
  background-size: 100% 100%;
  color:#484F94;
}

.card.Castle{
  background-image: url('/images/castle_card.png');
  background-size: 100% 100%;
  color:#606D7C;
}

.card.Knight{
  background-image: url('/images/knight_card.png');
  background-size: 100% 100%;
  color:#833B3C;
}

.card.Bishop{
  background-image: url('/images/bishop_card.png');
  background-size: 100% 100%;
  color:#4C5E47;
}

.card.Queen{
  background-image: url('/images/queen_card.png');
  background-size: 100% 100%;
  color:#BD4E4E;
}

.card.King{
  background-image: url('/images/king_card.png');
  background-size: 100% 100%;
  color:#CA9A2C;
}

.card-collection{
  background-image: 131px 175px;
  border:2 px solid green;
}

.hidden {
  display: none;
}

.battlefield_select {
  border:2px solid red;
  width:30vh;
  height:40vh;
}











.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.selected {
  background-color: #485095;
  color: #CBD2EA;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
