.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  position: absolute;
  z-index: -1;
  left: -400px; 
  top: -375px; 
  height: 1000px;
  width: 1000px;
  opacity: .65;
  transform-origin: 500px 550px;
  filter: blur(3px) saturate(80%);
  animation: App-logo-spin infinite 75s linear;  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
  background:#E8DDAF;
  overflow: hidden;
}

h3 {
font-size: 2.5em;
}

p {
  margin: 0;
}

/* dashboard navbar list*/
.dashboard-nav ul li {
  font-family: 'UnifrakturCook', cursive;
  font-size: 2em;
  line-height: .8em;
  letter-spacing: 0.07em;
  margin-bottom:-10px;
  cursor: pointer;
  text-align: right;
}

/* dashboard header*/
.dashboard h1 {
  font-family: 'UnifrakturCook', cursive;
  font-size:52px;
  text-align: right;
  margin-right:15px;
  margin-bottom:20px;
}

/* dashboard height*/
.dashboard {
  display:flex;
  height: calc(100% - 30px);
  margin-bottom: 44px;
}

/* dashboard nav colors and width*/
.dashboard-nav {
  background-color: #9CA7D5;
  color:#12183B;
  width: 260px;
  min-width: 260px;
}

/* allow cards to overflow scroll */
.dashboard-contents {
  overflow: auto;
  flex-grow: 1;
  display: inline-block;
}

/* set grid for cards */
.dashboard-contents .UserCards {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

/* set grif for card collection */
.dashboard-contents .card-collection {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

/* header nav */
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* header nav */
li {
  padding:15px;
  font-family:baskerville;
  letter-spacing: 0.05em;
  font-size:20px;
}

main {
  flex-grow: 1;
  height: calc(100vh - 208px);
}

/* home page fonts with auth */
.home, .register {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'UnifrakturCook', cursive;
  line-height: .3em;
  font-size: 28px;
  color: #12183B;
  background-image: url('/images/background.png');
  background-size: cover;
  background-position-x: center;
  width: 100%;
  height: calc(100% - 35px);
  margin: 0 auto;
}

/* log in components */
.home ul {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

/* login in components */
.login input{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.home ul li {
  display: flex;
}

.home li a{
  color: #12183B;
  margin-left:5px;
}

/* register components */
.register input{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* all text password and email inputs */
input[type='text'], input[type='password'], input[type='email'] {
  width:350px;
  padding:10px;
  margin-bottom:20px;
  font-size:16px;
  font-family: 'Oxygen', sans-serif;
}

/* all buttons */
button {
  border: 1.5px solid #12183B;
  padding:8px 25px;
  font-family: 'Oxygen', sans-serif;
  font-size:16px;
  background:#12183B;
  color:#FBF6E0;
}

/* all buttons on hover */
button:hover{
   background: #485095;
  border: 1.5px solid #485095;
  color:#FBF6E0;
  cursor: pointer;
}


button[type='button'] {
  border: 1.5px solid #dedede;
  padding:8px 25px;
  font-family: 'Oxygen', sans-serif;
  font-size:16px;
  background:white;
}

button[type='button']:hover{
background: #bdbdbd;
 border: 1.5px solid #bdbdbd;
 color:#303E63;
 cursor: pointer;
}

/* footer */
footer {
  background:#12183B;
  display:flex;
  flex-direction: column;
  color:#FAF5E0;
  text-align: center;
  padding:10px;
  font-family: 'UnifrakturCook', cursive;
  font-size:14px;
  letter-spacing: 0.2em;
  position: fixed;
  bottom:0;
  width: 100vw;
}

/* header */
.header {
  background:#12183B;
  padding: 2px 0px 2px 20px;
  display: flex;
  font-family: 'UnifrakturCook', cursive;
  justify-content: space-between;
  align-items: center;
  font-size: 2.6em;
  color:#FAF5E0;
  letter-spacing: 0.1em;
}

/* header nav */
header li, a{
  font-family: 'UnifrakturCook', cursive; 
  font-size:22px;
  display: -webkit-inline-flex;
  letter-spacing: 0.07em;
  color:#FAF5E0;
  text-decoration: none;
}


header li {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  cursor: default;
  user-select: none;
}


/* card component */
.card {
  width:133px;
  height: 200px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  float:left; 
  padding:5px;
  border-radius: 3%;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
}

/* making card name and class on top of card */
.card p, .card b {
  user-select: none;
  cursor: default;
}

/* card top component */
.card-top {
  display: flex;
  justify-content: center;
  padding: 0px 16px
}

/* make delete and edit button on card not display */
.card-wrapper .delete-button,
.card-wrapper .edit-button {
  /* padding: 5px 12px; */
  opacity: 0;
  transition: .2s all;
  display:none;
}

/* when user hovers over the card the edit and delete button show up */
.UserCards .card-wrapper:hover .delete-button,
.UserCards .card-wrapper:hover .edit-button {
  opacity: 1;
  transition: .2s all;
  display:unset;
}

/* card name edit */
.UserCards .card-name input {
  width: 40px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid black;  
  height: 10px;
  color: inherit;
  font-size: inherit;
  padding: 0;
  text-align: center;
  font-style: italic;
  margin: 0;
}

.UserCards .card-name input:focus {
  outline: none;
}

/* card hover adds a border and makes card transparent*/
.UserCards .card-wrapper{
  border:7px solid transparent;
  border-radius: 3%;
}

.card-collection .card-wrapper{
  border:7px solid transparent;
  border-radius: 3%;
}

.UserCards .card-wrapper:hover{
  opacity:0.8;
  border:7px solid black;
  border-radius: 3%;
}

.card-wrapper{
  position:relative;
}

/* positioning of delete and edit button */
.card-wrapper .delete-button,
.card-wrapper .edit-button{
  position:absolute;
  top:45%;
}

/* positioning of the edit button */
.card-wrapper .edit-button{
  top:30%;
  left:40%;
  padding:4px;
  color:#E8DDAF;
  background:black;
}

/* positioning of the delete button */
.card-wrapper .delete-button{
  top:50%;
  left:40%;
  color:#E8DDAF;
  padding:5px;
  background:black;
}

/* card name */
.card-name {
  margin-top: -4px;
  padding: 0;
  letter-spacing: 1px;
}

.card-name p {
  font-size:14px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.card-name b {
  font-size: 18px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.card-name form {
  width: 100%;
  padding: 0;
  margin: 0;
}

.card-name input[type='text'] {
  size: 20px;
  height: 18px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.card-name p:nth-child(2) {
  color: cornsilk;
  margin-top: 3px;
}

.card-numbers {
  display: flex;
  justify-content: space-between;
  padding: 1px 2px;
  letter-spacing: 1px;
}

.card-numbers p {
  width:50px;
  font-size: 16px;
  margin: 0px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
}

.card-numbers span {
  font-size: 18px;
  font-weight: bold;
}

/* making the pawn class background image */
.card.Pawn{
  background-image: url('/images/pawn_card.png');
  background-size: 100% 100%;
  color:#484F94;
}

/* making the castle class background image */
.card.Castle{
  background-image: url('/images/castle_card.png');
  background-size: 100% 100%;
  color:#606D7C;
}

/* making the knight class background image */
.card.Knight{
  background-image: url('/images/knight_card.png');
  background-size: 100% 100%;
  color:#833B3C;
}

/* making the bishop class background image */
.card.Bishop{
  background-image: url('/images/bishop_card.png');
  background-size: 100% 100%;
  color:#4C5E47;
}

/* making the queen class background image */
.card.Queen{
  background-image: url('/images/queen_card.png');
  background-size: 100% 100%;
  color:#BD4E4E;
}

/* making the king class background image */
.card.King{
  background-image: url('/images/king_card.png');
  background-size: 100% 100%;
  color:#CA9A2C;
}

/* when card is null you see back of card */
.card.null{
  background-image: url('/images/back_card.png');
  background-size: 100% 100%;
}

.card-collection{
  background-image: 131px 175px;
}

.hidden {
  display: none;
}

/* card image after selected in battlefield */
.battlefield_select {
  width:200px;
  height:300px;
  margin-left:50px;
  margin-right:50px;
  position:relative;
}

/* card animation when card is selected from users cards */
.user-selection .battlefield_select {
  animation: fly-from-left .2s linear;
}

/* card animation when card is selected from oppos cards */
.oppo-selection .battlefield_select {
  animation: fly-from-right .2s linear;
}

/* card components when card is selected in battlefield */
.battlefield_select .card-name b {
  font-size: 26px;
}

.battlefield_select .card-name p {
  font-size: 20px;
}

.battlefield_select .card-numbers p {
  font-size: 20px;
}

.battlefield_select .card-numbers span {
  font-size: 28px;
}

@keyframes fly-from-left{
  0% {
     transform: perspective(500px) translate3d(-100px, -300px, 400px) rotateX(-90deg); 
  }
  90% {
    transform: perspective(500px) translate3d(0px, 0px, -50px)
  }
}

@keyframes fly-from-right{
  0% {
     transform: perspective(500px) translate3d(100px, -300px, 400px) rotateX(-90deg); 
  }
  90% {
    transform: perspective(500px) translate3d(0px, 0px, -50px)
  }
}

/* battlefield information */
.battle-log h2 {
  font-family: 'UnifrakturCook', cursive;
  color:#12183B;
  font-size:60px;
  margin-top:5px;
}

/* middle of battlefield */
.mid-section {
  width:60%;
  margin: 0 auto;
  height:100%;
  display:flex;
  flex-direction:column;
}

/* battlefield information width */
.battle-log{
  width:90%;
  margin: 0 auto;
}

/* battlefield width */
.battlefield {
  width:100%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

/* when the card is selected */
.card-selected {
  display:flex;
  justify-content: space-between;
  width: 100%;
}


.card-hands{
  display:flex;
  flex-direction: column;
  align-items: center;
}

/* users cards width*/
.users-hand {
 width:20%; 
  align-items:center;
  flex-direction: column;
  overflow: hidden;
  height: calc(100vh - 38px - 68px);  
}

/* users cards area */
.users-hand div {
  display: flex; 
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* users cards in battlefield */
.users-hand .card {
  margin-bottom: -170px;
  width: 150px;
  height: 220px;
  transition: .25s all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  filter: saturate(25%);
  cursor: pointer;
  background-size: cover;
}

/* cchanging card number format for users cards */
.users-hand .card .card-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 20px;
}

.users-hand .card p,
.users-hand .card b {
  cursor: inherit;
}

.users-hand .card-numbers p {
  transition: .25s all;
  border-radius: 30px;
}

.users-hand .card:hover {
  margin-bottom: -5px;
  margin-top: 10px;
  opacity: 1;
  filter: saturate(125%);
}

.users-hand .card:hover .card-numbers p:nth-child(1) {
  background-color: rgba(255,0,0,.45);
}

.users-hand .card:hover .card-numbers p:nth-child(2) {
  background-color: rgba(0,200,200,.45);
}

/* oppo card width */
.oppo-hand {
  width:20%;
  display: flex;
  align-items:center;
  flex-direction: column;
}

/* making oppo cards ontop of eachother */
.oppo-hand .card {
  margin-bottom:-175px;
}


.game-table {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.game-table h3 {
  font-family: 'UnifrakturCook', cursive;
  color:#12183B;
  font-size:35px;
  margin-top:-1px;
  margin-bottom:-2px;
}

/* players hp */
.hp {
  width:85%;
  margin:0 auto;
  font-family: 'UnifrakturCook', cursive;
  color:#631F1F;
  font-size:30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:-40px;
}

/* mesage box components */
.message-box {
  color:white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background:rgba(0, 0, 0, 0.7);
  border:3px solid black;
  width:400px;
  height:200px;
  position:fixed;
  bottom:8%;
  right: 0;
  margin-right: 20px;
}

.message-display-wrapper {
  overflow-y: scroll;
  height: 158px;
}

.message-display {
  display: flex;
  flex-direction: column-reverse;
  font-size: 19px;
}

.message-display .notification {
  color: yellow;
}

.message-box p {
  text-align: left;
  padding:7px 15px 0px;
  font-weight: 300;
}

.message-box span {
  font-weight: 500;
  color: #7B89FF;
}

/* adding a message */
.message-input {
  position:fixed; 
  bottom: calc(8% + 3px); 
  right: 23px;
  width:400px; 
  height: 42px;
  align-self: flex-end;
}

.message-input form {
  display: flex;
  flex-direction: row;
}

.message-input button[type='submit']{
  height: 42px;
  padding: 0 5px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  color: white;
}

/* battlefield button */
.battle-log button {
  padding:5px;
  border-radius:15%;
}

/* add a new card button */
.new-card button{
  border: 1.5px solid #12183B;
  padding:8px 25px;
  font-family: 'Oxygen', sans-serif;
  font-size:16px;
  background:#12183B;
  color:#FBF6E0;
  margin-bottom:30px;
}

.new-card button:hover{
   background: #485095;
  border: 1.5px solid #485095;
  color:#FBF6E0;
  cursor: pointer;
}

/* new card image width */
.new-card {
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* game lobby entrance */
.game-lobby h1 {
  font-size: 60px;
  font-family: 'UnifrakturCook', cursive;
  color:#12183B;
  letter-spacing: 0.13em;
  margin-top:-20px;
}

/* game lobby width */
.game-lobby {
  width:80%;
  height:100%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-room-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* format for diff game rooms */
.game-room-wrapper .game-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 5px;
  position: relative;
  padding: 10px 0;
  box-sizing: border-box;
  transition: .25s all;
  border-radius: 2%;
}

/* game room box component */
.game-room h2 {
  font-size:92px;
  padding: 0;
  margin: 0;
  color:#485095;
  position: absolute;  
  top: 15px; 
}

.game-room p {
  color: black;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.game-room:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.game-room:hover h2 {
  color:#7A88FC;
}

.game-room:hover p {
  color:#FBF6E0;
}

/* leader-board width */
.leader-board {
  width:70%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
}

/* leaderboard information */
.leader-board h3 {
  font-family: 'UnifrakturCook', cursive;
  color:#12183B;
  font-size:66px;
  margin-top:40px;
  margin-bottom:-5px;
  padding-bottom:30px;
}

.leader-single h4 {
  text-align: left;
  margin-right:20px;
  font-family: 'UnifrakturCook', cursive;
  font-size: 24px;
  color:#12183B;
}

.inside-leaderboard {
  margin-top:12px;
}

.leader-single b {
  color:#12183B;
  font-family: 'UnifrakturCook', cursive;
  font-size:24px;
  letter-spacing: 0.03em;
  padding:5px;
}

.leader-start {
  width:50px;
  height:100%;
}

/* score component */
.inside-leaderboard {
  display:block;
  height: 50px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position:relative;
  overflow: hidden;
}

@keyframes scoregrow {
  0% {
    width:0%;
  }
  100% {
    width:100%;
  }
}

.leader-single {
  display: flex;
  margin-top:-10px;
}

/* user profile width */
.user-profile {
  width:80%;
  margin:0 auto;
  font-family: 'UnifrakturCook', cursive;
  font-size:46px;
  color:#12183B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:-20px;
}

/* adding username and email */
.user-profile span {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size:28px;
  color:#484F94;
  margin-bottom: -20px;
  letter-spacing: 0.05em;
}

/* profiles actual email and username */
.user-profile h2 {
  width:500px;
  display: flex;
  flex-direction: column;
  margin-bottom:30px;
  line-height: 1em;
}

/* edit and delete */
.user-profile p{ 
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size:34px;
  float:right;
  margin-left:15px;
  color:#12183B;
}

/* edit and delete buttons */
.user-profile i{
  font-size:28px;
  color:#12183B;
}

/* hover edit and delete */
.user-profile p:hover, i:hover {
  color:#FDF6CF;
  transition: .2s all;
  cursor: pointer;
}

/* edit and delete containers */
.user-buttons {
  padding:20px;
  margin-top:-20px;
}

/* edit username */
.user-profile input[type='text'] {
  display: flex;
  flex-direction: column;
  margin-top:40px;
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.selected {
  background-color: #485095;
  color: #CBD2EA;
}
